.container {
    display: flex;
    flex-direction: column;
}

.cards {
    height: 28vh;
    position: relative;
    background: url(../images/bg-main-mobile.png);
    text-align: right;
    padding: 2rem 0;
}

.cards__imagem {
    width: 277px;
}

.cards__imagem-frente {
    position: absolute;
    top: 52.5%;
    left: calc(50% - 170px);
}

.cards__imagem-costas {
    position: absolute;
    /* top: 3%; */
    right: calc(50% - 170px);
}

.cards__imagem-frente-container {
}

.circulos__container {
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(50% + 1rem);
    left: calc(50% - 170px + 1rem);
    gap: .6rem;
}

.circulo {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background-color: var(--branco);
}

.circulo-pequeno {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--branco);
}

.dados__container {
    width: 235px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    top: 90%;
    left: calc(50% - 170px + 1rem);
    color: var(--branco);
    font-family: var(--ff-main);
}

.span__cardNumber {
    font-size: var(--fs-regular);
    letter-spacing: 1.5px;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.dados__container-grupo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.span__cardName, .span__cardExpiration {
    font-size: var(--fs-mobile-pequeno);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: var(--fw-regular);
}

.span__cardName {
    text-align: left;
}

.span__cardExpiration {
    display: flex;
}

.form {
    padding: 5rem 1.5rem;
}

.label {
    font-size: var(--fs-mobile) ;
    color: var(--cinza-violeta-escuro);
    font-weight: var(--fw-semi-bold) ;
    font-family: var(--ff-main);
    padding: .5rem 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.form__input {
    padding: .85rem;
    border-radius: 10px;
    border: 1px solid var(--cinza-claro);
    margin-bottom: 1rem;
}

.form__input::placeholder {
    font-size: var(--fs-pequeno);
    font-weight: var(--fw-medium);
    font-family: var(--ff-main);
    color: var(--cinza);
}

.form__grupo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.form__grupo-coluna {
    width: 50%;
}

.form__submit {
    margin-top: .5rem;
    width: 100%;
    padding: .9rem 0;
    border-radius: 5px;
    border: none;
    background-color: var(--cinza-violeta-escuro);
    color: var(--branco);
    font-size: var(--fs-pequeno);
    letter-spacing: 1px;
}

.expDate__container {
    display: flex;
    gap: 0.5rem;
}

.expDate-input {
    width: 50%;
}